@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*html {
  --bg: #070e15;
  --title-txt: #eb8602;
  --content-txt: #ecf0f3;
  --content-txt-muted: #ecf0f36e;
  --title-txt-muted: #723818;
  --link-txt: #e04146;
  --box-shadow: inset 5px 5px 5px #ffffff07, inset -5px -5px 15px #0000007f,
    5px 5px 5px #ffffff07, -5px -5px 15px #0000007f;
  --outer-shadow: -5px -5px 20px rgb(24, 23, 23), 5px 5px 20px #0000007f;
  --outer-shadow-hover: -2px -2px 5px rgb(24, 23, 23), 2px 2px 5px #0000007f;
}*/

html {
  --bg: #ecf0f3;
  --title-txt: #eb8602;
  --content-txt: #000;
  --content-txt-muted: #454546;
  --title-txt-muted: #723818;
  --link-txt: #e04146;
  --box-shadow: inset 5px 5px 5px #00000008, inset -5px -5px 15px #ffffff80,
    5px 5px 5px rgba(0, 0, 0, 0.03), -5px -5px 15px rgba(255, 255, 255, 0.5);
  --outer-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  --outer-shadow-hover: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
body {
  background: var(--bg);
  overflow-x: hidden;
}

// ! Effects--
.effect-wrap {
  opacity: 0;
  animation: fade-in 1s 1.8s forwards;
  .effect {
    position: absolute;
    z-index: -1;
  }
  .effect-1 {
    width: 30px;
    height: 30px;
    border: 2px solid #8a49ff;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
  }
  .effect-2 {
    left: 3%;
    bottom: 20%;
    width: 40px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    animation: topBounce 3s ease-in-out infinite;
    .circle {
      height: 3px;
      width: 3px;
      border-radius: 50%;
      margin: 0 3px 8px;
      background: #bd700c;
    }
  }

  .effect-3 {
    height: 180px;
    width: 180px;
    border: 25px double #ff7075;
    border-radius: 50%;
    left: 50%;
    top: -120px;
    animation: leftBounce 3s ease-in-out infinite;
  }
  .effect-4 {
    border-bottom: 30px solid transparent;
    border-left: 30px solid #06d79c;
    left: 30%;
    top: 20%;
    animation: spin 15s linear infinite;

    &::before {
      content: "";
      position: absolute;
      border-bottom: 30px solid transparent;
      border-left: 30px solid #06d79c;
      opacity: 0.5;
      left: -40px;
      top: -10px;
      animation: move 1s ease-in-out infinite;
    }
  }
  .effect-5 {
    font-size: 5em;
    color: pink;
    position: absolute;
    left: 50%;
    bottom: 10%;
    animation: topBounce 15s ease-in-out infinite;
  }
}

// ** Custom Scroll bar
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--content-txt);
  border-radius: 10px;
}

// ** Header

header {
  padding: 20px 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  .logo {
    position: relative;
    font-size: 28px;
    color: var(--content-txt);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 0.5s ease-in-out forwards;
  }
  .icon {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    animation: slideLeft 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: var(--outer-shadow);
    transition: all 0.3s ease;
  }
  .icon:hover,
  .icon.active {
    box-shadow: var(--outer-shadow-hover);
  }

  .hamburger {
    z-index: 2;
    width: 30px;
    height: 2px;
    background: var(--content-txt);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background: var(--content-txt);
    transition: 0.5s;
  }

  .hamburger::before {
    top: -8px;
  }
  .hamburger::after {
    width: 25px;
    top: 8px;
  }

  .icon.active .hamburger {
    background: transparent;
  }

  .icon.active .hamburger::before {
    background: var(--title-txt);
    width: 35px;
    top: 0;
    transform: rotate(45deg);
  }
  .icon.active .hamburger::after {
    background: var(--title-txt);
    width: 35px;
    top: 0;
    transform: rotate(-45deg);
  }

  .navigation {
    position: absolute;
    display: flex;
    left: 150px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    li {
      list-style: none;
      a {
        color: var(--content-txt);
        text-decoration: none;
        font-size: 16px;
        margin: 0 20px;
        font-weight: 600;
        display: inline-block;
        opacity: 0;
      }
    }
  }
  .navigation.active {
    opacity: 1;
    visibility: visible;
  }
  .navigation.active li a {
    animation: slideRight 0.5s ease-in-out forwards;
    animation-delay: calc(0.1s * var(--i));
  }
}

// ** Home Section

.home-section {
  position: relative;
  .full-screen {
    display: flex;
    padding: 100px 200px;
    min-height: 100vh;
    align-items: center;
  }
  .home-text,
  .home-img {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }
  .home-text {
    line-height: 2.8em;
    opacity: 0;
    animation: slideRight 0.5s ease-in-out forwards;
    animation-delay: 1s;
    p {
      color: var(--content-txt-muted);
      font-size: 1.1em;
      text-transform: capitalize;
      letter-spacing: 3px;
    }
    h1 {
      font-size: 2.4em;
      font-weight: 700;
      text-transform: capitalize;
      color: var(--title-txt);
      letter-spacing: 0.1em;
    }
    h3 {
      font-size: 1.2em;
      color: var(--title-txt-muted);
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
    .btn {
      text-decoration: none;
      color: var(--link-txt);
      letter-spacing: 0.2em;
      font-size: 16px;
      font-weight: 500;
      padding: 10px 20px;
      border-radius: 50px;
      box-shadow: var(--outer-shadow);
      transition: all 0.3s ease;
      display: inline-block;
      &:hover {
        box-shadow: var(--outer-shadow-hover);
      }
    }
  }
  .home-img {
    opacity: 0;
    animation: slideLeft 0.5s ease-in-out forwards;
    animation-delay: 1.5s;
    .img-box {
      max-width: 450px;
      display: block;
      margin: auto;
      padding: 5px 20px;
      // border-radius: 50%;
      border-radius: 56% 44% 70% 30% / 71% 45% 55% 29%;
      box-shadow: var(--box-shadow);
      animation: float 5s infinite;

      img {
        width: 100%;
        border-radius: 56% 44% 70% 30% / 71% 45% 55% 29%;
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sci {
      position: relative;
      display: flex;
      li {
        list-style: none;
        a {
          color: var(--content-txt);
          text-decoration: none;
          min-width: 9ch;
          max-width: 10ch;
          height: 30px;
          font-weight: 500;
          margin-right: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          animation: slideRight 0.5s ease-in-out forwards;
          animation-delay: calc(0.1s * var(--i));
          &:hover {
            transition: 0.5s;
            box-shadow: var(--box-shadow);
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .copyright {
      color: var(--content-txt);
      font-size: 0.8em;
      font-weight: 600;
      opacity: 0;
      animation: slideRight 0.5s ease-in-out forwards;
      animation-delay: 1.5s;
    }
  }
}

// ** About Section

.about-section {
  padding: 80px 200px;
  min-height: 100vh;
  .section-title {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
    h2 {
      display: inline-block;
      font-size: 2.5rem;
      font-weight: 700;
      // color: var(--title-txt);
      color: transparent;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      -webkit-text-stroke: 2px var(--title-txt);
    }
  }
  .row {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .about-img {
    flex: 0 0 40%;
    max-width: 40%;
    .img-box {
      width: 100%;
      height: 100%;
      display: inline-block;
      margin: auto;
      animation: float 5s infinite;

      img {
        width: 100%;
      }
    }
  }
  .about-info {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
    position: relative;
    p {
      line-height: 26px;
      font-size: 16px;
      margin-bottom: 15px;
      color: var(--content-txt-muted);
    }
    span {
      font-weight: 600;
    }
    ul {
      list-style: none;
      li {
        margin-top: 20px;
        font-size: 1.2em;
      }
      #skills {
        p {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-gap: 15px;
          padding: 20px 20px;
        }
      }
    }
    .btn-group {
      position: absolute;
      right: 5%;
    }
    .btn {
      cursor: pointer;
      text-decoration: none;
      color: var(--link-txt);
      letter-spacing: 0.2em;
      font-size: 16px;
      font-weight: 500;
      padding: 20px 20px;
      border-radius: 50px;
      box-shadow: var(--outer-shadow);
      transition: all 0.3s ease;
      display: inline-block;
      margin: 30px 20px 0 0;

      &:hover {
        box-shadow: var(--outer-shadow-hover);
      }
    }
  }
}

// ** Animations
@keyframes slideLeft {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes topBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
@keyframes leftBounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}
@keyframes move {
  0%,
  100% {
    left: -40px;
    top: -10px;
  }
  50% {
    left: -35px;
    top: -5px;
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
}
