@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*html {
  --bg: #070e15;
  --title-txt: #eb8602;
  --content-txt: #ecf0f3;
  --content-txt-muted: #ecf0f36e;
  --title-txt-muted: #723818;
  --link-txt: #e04146;
  --box-shadow: inset 5px 5px 5px #ffffff07, inset -5px -5px 15px #0000007f,
    5px 5px 5px #ffffff07, -5px -5px 15px #0000007f;
  --outer-shadow: -5px -5px 20px rgb(24, 23, 23), 5px 5px 20px #0000007f;
  --outer-shadow-hover: -2px -2px 5px rgb(24, 23, 23), 2px 2px 5px #0000007f;
}*/

html {
  // --bg: #ecf0f3;
  --bg: #f1f2fa;
  --bg-opacity: rgba(241, 242, 250, 0.6);
  --title-txt: #eb8602;
  --content-txt: #000;
  --content-txt-muted: #454546;
  --title-txt-muted: #723818;
  --link-txt: #e04146;
  --box-shadow: inset 5px 5px 5px #00000008, inset -5px -5px 15px #ffffff80,
    5px 5px 5px rgba(0, 0, 0, 0.03), -5px -5px 15px rgba(255, 255, 255, 0.5);
  --outer-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  --outer-shadow-hover: -2px -2px 5px rgb(255, 255, 255), 2px 2px 5px #babecc;
  --outer-shadow-btn: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --inner-shadow-btn: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}
body {
  background: var(--bg);
  overflow-x: hidden;
}

body.stop-scrolling {
  overflow-y: hidden;
}

// ! Effects--
.effect-wrap {
  opacity: 0;
  animation: fade-in 1s 1.8s forwards;
  .effect {
    position: absolute;
    z-index: -1;
  }
  .effect-1 {
    width: 30px;
    height: 30px;
    border: 2px solid #8a49ff;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
  }
  .effect-2 {
    left: 3%;
    bottom: 20%;
    width: 40px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    animation: topBounce 3s ease-in-out infinite;
    .circle {
      height: 3px;
      width: 3px;
      border-radius: 50%;
      margin: 0 3px 8px;
      background: #bd700c;
    }
  }

  .effect-3 {
    height: 180px;
    width: 180px;
    border: 25px double #ff7075;
    border-radius: 50%;
    left: 50%;
    top: -120px;
    animation: leftBounce 3s ease-in-out infinite;
  }
  .effect-4 {
    border-bottom: 30px solid transparent;
    border-left: 30px solid #06d79c;
    left: 30%;
    top: 20%;
    animation: spin 15s linear infinite;

    &::before {
      content: "";
      position: absolute;
      border-bottom: 30px solid transparent;
      border-left: 30px solid #06d79c;
      opacity: 0.5;
      left: -40px;
      top: -10px;
      animation: move 1s ease-in-out infinite;
    }
  }
  .effect-5 {
    font-size: 5em;
    color: pink;
    position: absolute;
    left: 50%;
    bottom: 10%;
    animation: topBounce 15s ease-in-out infinite;
  }
}

// ** Custom Scroll bar
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--content-txt);
  border-radius: 10px;
}

// ** Header

header {
  padding: 20px 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  .logo {
    position: relative;
    font-size: 28px;
    color: var(--content-txt);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 0.5s ease-in-out forwards;
  }
  .icon {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    animation: slideLeft 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: var(--outer-shadow);
    transition: all 0.3s ease;
  }
  .icon:hover {
    box-shadow: var(--outer-shadow-hover);
  }

  .icon.active {
    box-shadow: var(--inner-shadow-btn);
  }

  .hamburger {
    z-index: 2;
    width: 30px;
    height: 2px;
    background: var(--content-txt);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background: var(--content-txt);
    transition: 0.5s;
  }

  .hamburger::before {
    top: -8px;
  }
  .hamburger::after {
    width: 25px;
    top: 8px;
  }

  .icon.active .hamburger {
    background: transparent;
  }

  .icon.active .hamburger::before {
    background: var(--title-txt);
    width: 35px;
    top: 0;
    transform: rotate(45deg);
  }
  .icon.active .hamburger::after {
    background: var(--title-txt);
    width: 35px;
    top: 0;
    transform: rotate(-45deg);
  }

  .navigation {
    position: absolute;
    display: flex;
    left: 150px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    li {
      list-style: none;
      a {
        color: var(--content-txt);
        text-decoration: none;
        font-size: 16px;
        margin: 0 20px;
        font-weight: 600;
        display: inline-block;
        opacity: 0;
      }
    }
  }
  .navigation.active {
    opacity: 1;
    visibility: visible;
  }
  .navigation.active li a {
    animation: slideRight 0.5s ease-in-out forwards;
    animation-delay: calc(0.1s * var(--i));
  }
}

// ** Home Section

.home-section {
  position: relative;

  #myVideo {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    right: -40%;
    opacity: 0;
    animation: fade-in 1s 2s forwards;
    overflow: hidden;

    // top: 10px;
  }
  .full-screen {
    display: flex;
    padding: 100px 200px;
    min-height: 100vh;
    align-items: center;
  }
  .home-text,
  .home-img {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }
  .home-text {
    line-height: 2.8em;
    opacity: 0;
    animation: slideRight 0.5s ease-in-out forwards;
    animation-delay: 1s;
    p {
      color: var(--content-txt-muted);
      font-size: 1.1em;
      text-transform: capitalize;
      letter-spacing: 3px;
    }
    h1 {
      font-size: 2.4em;
      font-weight: 700;
      text-transform: capitalize;
      color: var(--title-txt);
      letter-spacing: 0.1em;
    }
    h3 {
      font-size: 1.2em;
      color: var(--title-txt-muted);
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
    .btn {
      text-decoration: none;
      color: var(--link-txt);
      letter-spacing: 0.2em;
      font-size: 16px;
      font-weight: 500;
      padding: 10px 20px;
      border-radius: 50px;
      box-shadow: var(--outer-shadow);
      transition: all 0.3s ease;
      display: inline-block;
      &:hover {
        box-shadow: var(--outer-shadow-hover);
      }
    }
  }
  .home-img {
    opacity: 0;
    animation: slideLeft 0.5s ease-in-out forwards;
    animation-delay: 1.5s;

    .img-box {
      max-width: 450px;
      display: block;
      margin: auto;
      padding: 5px 20px;
      background-color: var(--bg);
      // border-radius: 50%;
      border-radius: 56% 44% 70% 30% / 71% 45% 55% 29%;
      box-shadow: var(--box-shadow);
      animation: float 5s infinite;

      img {
        width: 100%;
        border-radius: 56% 44% 70% 30% / 71% 45% 55% 29%;
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sci {
      position: relative;
      display: flex;
      li {
        list-style: none;
        a {
          color: var(--content-txt);
          text-decoration: none;
          min-width: 9ch;
          max-width: 10ch;
          height: 30px;
          font-weight: 500;
          margin-right: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          animation: slideRight 0.5s ease-in-out forwards;
          animation-delay: calc(0.1s * var(--i));

          &:hover {
            transition: 0.4s;
          }
        }
        &:nth-child(1) {
          a:hover {
            color: #38529a;
            box-shadow: var(--box-shadow), 5px 5px 5px #38529a;
          }
        }
        &:nth-child(2) {
          a:hover {
            color: #bb2f84;
            box-shadow: var(--box-shadow), 5px 5px 5px #bb2f84;
          }
        }
        &:nth-child(3) {
          a:hover {
            color: #0073b1;
            box-shadow: var(--box-shadow), 5px 5px 5px #0073b1;
          }
        }
        &:nth-child(4) {
          a:hover {
            color: #000;
            box-shadow: var(--box-shadow), 5px 5px 5px #000;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .copyright {
      color: var(--content-txt);
      font-size: 0.8em;
      font-weight: 600;
      opacity: 0;
      animation: slideRight 0.5s ease-in-out forwards;
      animation-delay: 1.5s;
    }
  }
}

// ** About Section

.about-section {
  padding: 80px 200px;
  min-height: 100vh;
  .section-title {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
    h2 {
      display: inline-block;
      font-size: 2.5rem;
      font-weight: 700;
      // color: var(--title-txt);
      color: transparent;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      -webkit-text-stroke: 2px var(--title-txt);
    }
  }
  .about-row {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .about-img {
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    .img-box {
      width: 50%;
      display: inline-block;
      margin: auto;
      padding: 20px;
      box-shadow: var(--outer-shadow-btn);

      img {
        width: 100%;
        border: 10px solid transparent;
        padding: 20px 10px 0;
        box-shadow: var(--inner-shadow-btn);
      }
    }
  }
  .about-info {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
    position: relative;
    p {
      line-height: 26px;
      font-size: 16px;
      margin-bottom: 15px;
      color: var(--content-txt-muted);
    }
    span {
      font-weight: 600;
    }

    .btn-group {
      position: absolute;
      right: 5%;
    }
    .btn {
      cursor: pointer;
      text-decoration: none;
      color: var(--link-txt);
      letter-spacing: 0.2em;
      font-size: 16px;
      font-weight: 500;
      padding: 20px 20px;
      border-radius: 50px;
      box-shadow: var(--outer-shadow);

      transition: all 0.3s ease;
      display: inline-block;
      margin: 30px 20px 0 0;

      &:hover {
        box-shadow: var(--outer-shadow-hover);
      }
    }
  }
  .about-tabs {
    padding: 120px 15px 50px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    .tab-item {
      display: inline-block;
      margin: 0 5px 10px;
      padding: 10px 15px;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 16px;
      color: var(--content-txt-muted);
      font-weight: 500;
      text-transform: capitalize;

      &:hover:not(.active) {
        opacity: 0.6;
      }
    }

    .active {
      color: var(--link-txt);
      box-shadow: var(--outer-shadow-btn);
    }
  }
  .skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;

    p {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 30px 50px;
    }
  }
  .experience {
    padding-bottom: 80px;
  }
  .timeline {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;

    &::before {
      content: "";
      width: 1px;
      height: 100%;
      left: 50%;
      top: 0;
      background-color: rgb(197, 186, 186);
      position: absolute;
    }

    .timeline-item {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 15px;

      &:nth-child(odd) {
        padding-right: calc(50% + 50px);
        text-align: right;
      }
      &:nth-child(even) {
        padding-left: calc(50% + 50px);
      }
      &:nth-child(odd) .timeline-item-inner::before {
        right: -30px;
      }
      &:nth-child(even) .timeline-item-inner::before {
        left: -30px;
      }

      .timeline-item-inner {
        box-shadow: var(--outer-shadow-btn);
        padding: 30px;
        border-radius: 5px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 30px;
          height: 1px;
          background: var(--title-txt);
          top: 37px;
          z-index: -1;
        }

        span {
          font-weight: 500;
          color: var(--title-txt);
          display: block;
          margin: 0 0 10px;
          text-transform: capitalize;
        }
        h3 {
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 0.1em;
          margin: 0 0 5px;
          color: var(--content-txt);
          text-transform: capitalize;
        }
        h4 {
          color: var(--content-txt-muted);
          font-size: 16px;
          font-weight: 600;
          font-style: italic;
          text-transform: capitalize;
        }
        p {
          margin-top: 10px;
          font-size: 14px;
          line-height: 25px;
        }
        .fa {
          height: 40px;
          width: 40px;
          text-align: center;
          line-height: 40px;
          position: absolute;
          top: 18px;
          border-radius: 50%;
          font-size: 16px;
          background-color: var(--bg);
          box-shadow: var(--inner-shadow-btn);
          color: var(--title-txt);
          // box-shadow: var(--inner-shadow-btn);
        }
      }

      &:nth-child(odd) .fa {
        right: -70px;
      }
      &:nth-child(even) .fa {
        left: -70px;
      }
    }
  }
  .education {
    padding-bottom: 80px;
    .timeline {
      .timeline-item-inner {
        &::before {
          background: var(--link-txt);
        }
        span {
          color: var(--link-txt);
        }

        .fa {
          color: var(--link-txt);
        }
      }
    }
  }
  .tab-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
  }
  .tab-content.active {
    display: block;
    animation: fadeInTop 0.5s ease;
  }
}

// ** Projects Section

.projects-section {
  padding: 80px 200px;
  min-height: 100vh;
  .section-title {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
    h2 {
      display: inline-block;
      font-size: 2rem;
      font-weight: 700;
      color: var(--content-txt);
      text-transform: uppercase;
      letter-spacing: 0.1em;
      &::before {
        content: attr(data-heading);
        display: block;
        color: var(--link-txt);
        font-size: 1rem;
      }
    }
  }

  .projects-filter {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
    .filter-item {
      display: inline-block;
      margin: 0 5px 10px;
      padding: 10px 15px;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 16px;
      color: var(--content-txt-muted);
      font-weight: 500;
      text-transform: capitalize;

      &:hover:not(.active) {
        opacity: 0.6;
      }
    }

    .active {
      color: var(--link-txt);
      box-shadow: var(--outer-shadow-btn);
    }
  }

  .project-items {
    display: flex;
  }

  .project-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  .project-item.hide {
    display: none;
  }
  .project-item.show {
    display: block;
    animation: fadeInTop 0.5s ease;
  }
  .project-item-details {
    display: none;
  }

  .project-item-inner {
    padding: 15px;
    border-radius: 5px;
    box-shadow: var(--outer-shadow-btn);
    width: 100%;

    .project-item-img {
      position: relative;
      img {
        border-radius: 5px;
        width: 100%;
        transition: all 0.3s ease;
        margin-bottom: 10px;
        max-height: 300px;
        background-color: rgb(212, 212, 212);
      }
      .view-project {
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 600;
        color: var(--title-txt);
        transition: all 0.3s ease;
        position: absolute;
        left: 10px;
        bottom: 10px;
        transform: translateY(-10px);
        z-index: -1;
        opacity: 0;
      }
    }
    &:hover {
      .view-project {
        transform: translateY(-5px);
        opacity: 1;
      }
      img {
        transform: translateY(-30px);
      }
    }

    p {
      font-size: 16px;
      margin: 10px 0 0;

      text-transform: capitalize;
    }
  }
}
//! Project Popup
.project-popup {
  background-color: var(--bg);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;

  .pp-loader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: var(--bg-opacity);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    div {
      height: 40px;
      width: 40px;
      border: 3px solid var(--title-txt);
      border-radius: 50%;
      border-right: 3px solid transparent;
      animation: spin 2s backwards infinite;
    }
    .active {
      visibility: visible;
      opacity: 1;
    }
  }

  .pp-img {
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--outer-shadow);
  }
  .pp-main {
    min-height: 100vh;
    max-width: 1350px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pp-main-inner {
    padding: 70px 0 50px;
    position: relative;
  }
  .pp-project-details-btn,
  .pp-close {
    position: absolute;
    top: 15px;

    cursor: pointer;
    box-shadow: var(--outer-shadow);
    transition: all 0.3s ease;
    &:hover {
      box-shadow: var(--outer-shadow-hover);
    }
    &:active {
      box-shadow: var(--inner-shadow-btn);
    }
  }
  .pp-project-details-btn {
    left: 0;
    height: 40px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 30px;
    color: var(--link-txt);
    i {
      margin-left: 5px;
    }
  }
  .pp-close {
    height: 40px;
    width: 40px;
    right: 0;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 35px;
    &:hover {
      color: red;
    }
  }
  .pp-details {
    max-width: 1350px;
    width: 85%;
    margin: auto;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .pp-details.active {
    opacity: 1;
  }
  .pp-details-inner {
    padding: 30px 0;
  }

  .pp-title {
    padding: 0 15px;
    h2 {
      font-size: 24px;
      color: var(--content-txt);
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-weight: 400;
      margin-bottom: 5px;
    }
    p {
      font-size: 18px;
      color: var(--content-txt-muted);
      text-transform: capitalize;
      letter-spacing: 0.1em;
      font-weight: 600;
      padding-bottom: 10px;
      margin-bottom: 15px;
      border-bottom: 1px solid hsl(0, 0%, 79%);
      span {
        font-weight: 400;
      }
    }
  }

  .pp-project-details {
    .row {
      display: flex;
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px;
      text-transform: capitalize;
      color: var(--content-txt);
    }
    .description {
      flex: 0 0 65%;
      max-width: 65%;
      padding: 0 15px;
      p {
        font-size: 16px;
        color: var(--content-txt-muted);
        line-height: 22px;
      }
    }

    .info {
      flex: 0 0 35%;
      max-width: 35%;
      padding: 0 15px;
      margin-bottom: 10px;

      a {
        text-decoration: none;
        font-size: 16px;
        color: var(--title-txt);
      }
      ul {
        li {
          display: block;
          margin-bottom: 10px;
          font-size: 16px;
          color: var(--content-txt-muted);
          font-weight: 600;
          span {
            font-weight: 400;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .separator {
    height: 1px;
    width: 100%;
    display: block;
    background-color: hsl(0, 0%, 79%);
    margin-bottom: 20px;
  }
}

.project-popup.open {
  visibility: visible;
  opacity: 1;
}

// ** Animations
@keyframes slideLeft {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes topBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
@keyframes leftBounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}
@keyframes move {
  0%,
  100% {
    left: -40px;
    top: -10px;
  }
  50% {
    left: -35px;
    top: -5px;
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
