@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*html {
  --bg: #070e15;
  --title-txt: #eb8602;
  --content-txt: #ecf0f3;
  --content-txt-muted: #ecf0f36e;
  --title-txt-muted: #723818;
  --link-txt: #e04146;
  --box-shadow: inset 5px 5px 5px #ffffff07, inset -5px -5px 15px #0000007f,
    5px 5px 5px #ffffff07, -5px -5px 15px #0000007f;
  --outer-shadow: -5px -5px 20px rgb(24, 23, 23), 5px 5px 20px #0000007f;
  --outer-shadow-hover: -2px -2px 5px rgb(24, 23, 23), 2px 2px 5px #0000007f;
}*/
html {
  --bg: #f1f2fa;
  --bg-opacity: rgba(241, 242, 250, 0.6);
  --title-txt: #eb8602;
  --content-txt: #000;
  --content-txt-muted: #454546;
  --title-txt-muted: #723818;
  --link-txt: #e04146;
  --box-shadow: inset 5px 5px 5px #00000008, inset -5px -5px 15px #ffffff80,
    5px 5px 5px rgba(0, 0, 0, 0.03), -5px -5px 15px rgba(255, 255, 255, 0.5);
  --outer-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  --outer-shadow-hover: -2px -2px 5px rgb(255, 255, 255), 2px 2px 5px #babecc;
  --outer-shadow-btn: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --inner-shadow-btn: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

body {
  background: var(--bg);
  overflow-x: hidden;
}

body.stop-scrolling {
  overflow-y: hidden;
}

.effect-wrap {
  opacity: 0;
  -webkit-animation: fade-in 1s 1.8s forwards;
          animation: fade-in 1s 1.8s forwards;
}

.effect-wrap .effect {
  position: absolute;
  z-index: -1;
}

.effect-wrap .effect-1 {
  width: 30px;
  height: 30px;
  border: 2px solid #8a49ff;
  right: 10%;
  bottom: 10%;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.effect-wrap .effect-2 {
  left: 3%;
  bottom: 20%;
  width: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-animation: topBounce 3s ease-in-out infinite;
          animation: topBounce 3s ease-in-out infinite;
}

.effect-wrap .effect-2 .circle {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  margin: 0 3px 8px;
  background: #bd700c;
}

.effect-wrap .effect-3 {
  height: 180px;
  width: 180px;
  border: 25px double #ff7075;
  border-radius: 50%;
  left: 50%;
  top: -120px;
  -webkit-animation: leftBounce 3s ease-in-out infinite;
          animation: leftBounce 3s ease-in-out infinite;
}

.effect-wrap .effect-4 {
  border-bottom: 30px solid transparent;
  border-left: 30px solid #06d79c;
  left: 30%;
  top: 20%;
  -webkit-animation: spin 15s linear infinite;
          animation: spin 15s linear infinite;
}

.effect-wrap .effect-4::before {
  content: "";
  position: absolute;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #06d79c;
  opacity: 0.5;
  left: -40px;
  top: -10px;
  -webkit-animation: move 1s ease-in-out infinite;
          animation: move 1s ease-in-out infinite;
}

.effect-wrap .effect-5 {
  font-size: 5em;
  color: pink;
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-animation: topBounce 15s ease-in-out infinite;
          animation: topBounce 15s ease-in-out infinite;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--content-txt);
  border-radius: 10px;
}

header {
  padding: 20px 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

header .logo {
  position: relative;
  font-size: 28px;
  color: var(--content-txt);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  opacity: 0;
  -webkit-animation: slideRight 0.5s ease-in-out forwards;
          animation: slideRight 0.5s ease-in-out forwards;
}

header .icon {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-animation: slideLeft 0.5s ease-in-out forwards;
          animation: slideLeft 0.5s ease-in-out forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  -webkit-box-shadow: var(--outer-shadow);
          box-shadow: var(--outer-shadow);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .icon:hover {
  -webkit-box-shadow: var(--outer-shadow-hover);
          box-shadow: var(--outer-shadow-hover);
}

header .icon.active {
  -webkit-box-shadow: var(--inner-shadow-btn);
          box-shadow: var(--inner-shadow-btn);
}

header .hamburger {
  z-index: 2;
  width: 30px;
  height: 2px;
  background: var(--content-txt);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .hamburger::before,
header .hamburger::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  background: var(--content-txt);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .hamburger::before {
  top: -8px;
}

header .hamburger::after {
  width: 25px;
  top: 8px;
}

header .icon.active .hamburger {
  background: transparent;
}

header .icon.active .hamburger::before {
  background: var(--title-txt);
  width: 35px;
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .icon.active .hamburger::after {
  background: var(--title-txt);
  width: 35px;
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .navigation {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 150px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navigation li {
  list-style: none;
}

header .navigation li a {
  color: var(--content-txt);
  text-decoration: none;
  font-size: 16px;
  margin: 0 20px;
  font-weight: 600;
  display: inline-block;
  opacity: 0;
}

header .navigation.active {
  opacity: 1;
  visibility: visible;
}

header .navigation.active li a {
  -webkit-animation: slideRight 0.5s ease-in-out forwards;
          animation: slideRight 0.5s ease-in-out forwards;
  -webkit-animation-delay: calc(0.1s * var(--i));
          animation-delay: calc(0.1s * var(--i));
}

.home-section {
  position: relative;
}

.home-section #myVideo {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  right: -40%;
  opacity: 0;
  -webkit-animation: fade-in 1s 2s forwards;
          animation: fade-in 1s 2s forwards;
  overflow: hidden;
}

.home-section .full-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 200px;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-section .home-text,
.home-section .home-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.home-section .home-text {
  line-height: 2.8em;
  opacity: 0;
  -webkit-animation: slideRight 0.5s ease-in-out forwards;
          animation: slideRight 0.5s ease-in-out forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.home-section .home-text p {
  color: var(--content-txt-muted);
  font-size: 1.1em;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.home-section .home-text h1 {
  font-size: 2.4em;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--title-txt);
  letter-spacing: 0.1em;
}

.home-section .home-text h3 {
  font-size: 1.2em;
  color: var(--title-txt-muted);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.home-section .home-text .btn {
  text-decoration: none;
  color: var(--link-txt);
  letter-spacing: 0.2em;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 50px;
  -webkit-box-shadow: var(--outer-shadow);
          box-shadow: var(--outer-shadow);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
}

.home-section .home-text .btn:hover {
  -webkit-box-shadow: var(--outer-shadow-hover);
          box-shadow: var(--outer-shadow-hover);
}

.home-section .home-img {
  opacity: 0;
  -webkit-animation: slideLeft 0.5s ease-in-out forwards;
          animation: slideLeft 0.5s ease-in-out forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.home-section .home-img .img-box {
  max-width: 450px;
  display: block;
  margin: auto;
  padding: 5px 20px;
  background-color: var(--bg);
  border-radius: 56% 44% 70% 30% / 71% 45% 55% 29%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-animation: float 5s infinite;
          animation: float 5s infinite;
}

.home-section .home-img .img-box img {
  width: 100%;
  border-radius: 56% 44% 70% 30% / 71% 45% 55% 29%;
}

.home-section .footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-section .footer .sci {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-section .footer .sci li {
  list-style: none;
}

.home-section .footer .sci li a {
  color: var(--content-txt);
  text-decoration: none;
  min-width: 9ch;
  max-width: 10ch;
  height: 30px;
  font-weight: 500;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-animation: slideRight 0.5s ease-in-out forwards;
          animation: slideRight 0.5s ease-in-out forwards;
  -webkit-animation-delay: calc(0.1s * var(--i));
          animation-delay: calc(0.1s * var(--i));
}

.home-section .footer .sci li a:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.home-section .footer .sci li:nth-child(1) a:hover {
  color: #38529a;
  -webkit-box-shadow: var(--box-shadow), 5px 5px 5px #38529a;
          box-shadow: var(--box-shadow), 5px 5px 5px #38529a;
}

.home-section .footer .sci li:nth-child(2) a:hover {
  color: #bb2f84;
  -webkit-box-shadow: var(--box-shadow), 5px 5px 5px #bb2f84;
          box-shadow: var(--box-shadow), 5px 5px 5px #bb2f84;
}

.home-section .footer .sci li:nth-child(3) a:hover {
  color: #0073b1;
  -webkit-box-shadow: var(--box-shadow), 5px 5px 5px #0073b1;
          box-shadow: var(--box-shadow), 5px 5px 5px #0073b1;
}

.home-section .footer .sci li:nth-child(4) a:hover {
  color: #000;
  -webkit-box-shadow: var(--box-shadow), 5px 5px 5px #000;
          box-shadow: var(--box-shadow), 5px 5px 5px #000;
}

.home-section .footer .sci li:last-child {
  margin-right: 0;
}

.home-section .footer .copyright {
  color: var(--content-txt);
  font-size: 0.8em;
  font-weight: 600;
  opacity: 0;
  -webkit-animation: slideRight 0.5s ease-in-out forwards;
          animation: slideRight 0.5s ease-in-out forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.about-section {
  padding: 80px 200px;
  min-height: 100vh;
}

.about-section .section-title {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

.about-section .section-title h2 {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-text-stroke: 2px var(--title-txt);
}

.about-section .about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .about-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .about-img .img-box {
  width: 50%;
  display: inline-block;
  margin: auto;
  padding: 20px;
  -webkit-box-shadow: var(--outer-shadow-btn);
          box-shadow: var(--outer-shadow-btn);
}

.about-section .about-img .img-box img {
  width: 100%;
  border: 10px solid transparent;
  padding: 20px 10px 0;
  -webkit-box-shadow: var(--inner-shadow-btn);
          box-shadow: var(--inner-shadow-btn);
}

.about-section .about-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
  padding: 0 15px;
  position: relative;
}

.about-section .about-info p {
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 15px;
  color: var(--content-txt-muted);
}

.about-section .about-info span {
  font-weight: 600;
}

.about-section .about-info .btn-group {
  position: absolute;
  right: 5%;
}

.about-section .about-info .btn {
  cursor: pointer;
  text-decoration: none;
  color: var(--link-txt);
  letter-spacing: 0.2em;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 20px;
  border-radius: 50px;
  -webkit-box-shadow: var(--outer-shadow);
          box-shadow: var(--outer-shadow);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  margin: 30px 20px 0 0;
}

.about-section .about-info .btn:hover {
  -webkit-box-shadow: var(--outer-shadow-hover);
          box-shadow: var(--outer-shadow-hover);
}

.about-section .about-tabs {
  padding: 120px 15px 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.about-section .about-tabs .tab-item {
  display: inline-block;
  margin: 0 5px 10px;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 16px;
  color: var(--content-txt-muted);
  font-weight: 500;
  text-transform: capitalize;
}

.about-section .about-tabs .tab-item:hover:not(.active) {
  opacity: 0.6;
}

.about-section .about-tabs .active {
  color: var(--link-txt);
  -webkit-box-shadow: var(--outer-shadow-btn);
          box-shadow: var(--outer-shadow-btn);
}

.about-section .skills {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 80px;
}

.about-section .skills p {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px 50px;
}

.about-section .experience {
  padding-bottom: 80px;
}

.about-section .timeline {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.about-section .timeline::before {
  content: "";
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  background-color: #c5baba;
  position: absolute;
}

.about-section .timeline .timeline-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.about-section .timeline .timeline-item:nth-child(odd) {
  padding-right: calc(50% + 50px);
  text-align: right;
}

.about-section .timeline .timeline-item:nth-child(even) {
  padding-left: calc(50% + 50px);
}

.about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before {
  right: -30px;
}

.about-section .timeline .timeline-item:nth-child(even) .timeline-item-inner::before {
  left: -30px;
}

.about-section .timeline .timeline-item .timeline-item-inner {
  -webkit-box-shadow: var(--outer-shadow-btn);
          box-shadow: var(--outer-shadow-btn);
  padding: 30px;
  border-radius: 5px;
  position: relative;
}

.about-section .timeline .timeline-item .timeline-item-inner::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background: var(--title-txt);
  top: 37px;
  z-index: -1;
}

.about-section .timeline .timeline-item .timeline-item-inner span {
  font-weight: 500;
  color: var(--title-txt);
  display: block;
  margin: 0 0 10px;
  text-transform: capitalize;
}

.about-section .timeline .timeline-item .timeline-item-inner h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin: 0 0 5px;
  color: var(--content-txt);
  text-transform: capitalize;
}

.about-section .timeline .timeline-item .timeline-item-inner h4 {
  color: var(--content-txt-muted);
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  text-transform: capitalize;
}

.about-section .timeline .timeline-item .timeline-item-inner p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 25px;
}

.about-section .timeline .timeline-item .timeline-item-inner .fa {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 18px;
  border-radius: 50%;
  font-size: 16px;
  background-color: var(--bg);
  -webkit-box-shadow: var(--inner-shadow-btn);
          box-shadow: var(--inner-shadow-btn);
  color: var(--title-txt);
}

.about-section .timeline .timeline-item:nth-child(odd) .fa {
  right: -70px;
}

.about-section .timeline .timeline-item:nth-child(even) .fa {
  left: -70px;
}

.about-section .education {
  padding-bottom: 80px;
}

.about-section .education .timeline .timeline-item-inner::before {
  background: var(--link-txt);
}

.about-section .education .timeline .timeline-item-inner span {
  color: var(--link-txt);
}

.about-section .education .timeline .timeline-item-inner .fa {
  color: var(--link-txt);
}

.about-section .tab-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  display: none;
}

.about-section .tab-content.active {
  display: block;
  -webkit-animation: fadeInTop 0.5s ease;
          animation: fadeInTop 0.5s ease;
}

.projects-section {
  padding: 80px 200px;
  min-height: 100vh;
}

.projects-section .section-title {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

.projects-section .section-title h2 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  color: var(--content-txt);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.projects-section .section-title h2::before {
  content: attr(data-heading);
  display: block;
  color: var(--link-txt);
  font-size: 1rem;
}

.projects-section .projects-filter {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.projects-section .projects-filter .filter-item {
  display: inline-block;
  margin: 0 5px 10px;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 16px;
  color: var(--content-txt-muted);
  font-weight: 500;
  text-transform: capitalize;
}

.projects-section .projects-filter .filter-item:hover:not(.active) {
  opacity: 0.6;
}

.projects-section .projects-filter .active {
  color: var(--link-txt);
  -webkit-box-shadow: var(--outer-shadow-btn);
          box-shadow: var(--outer-shadow-btn);
}

.projects-section .project-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-section .project-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-section .project-item.hide {
  display: none;
}

.projects-section .project-item.show {
  display: block;
  -webkit-animation: fadeInTop 0.5s ease;
          animation: fadeInTop 0.5s ease;
}

.projects-section .project-item-details {
  display: none;
}

.projects-section .project-item-inner {
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: var(--outer-shadow-btn);
          box-shadow: var(--outer-shadow-btn);
  width: 100%;
}

.projects-section .project-item-inner .project-item-img {
  position: relative;
}

.projects-section .project-item-inner .project-item-img img {
  border-radius: 5px;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  max-height: 300px;
  background-color: #d4d4d4;
}

.projects-section .project-item-inner .project-item-img .view-project {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  color: var(--title-txt);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 10px;
  bottom: 10px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  z-index: -1;
  opacity: 0;
}

.projects-section .project-item-inner:hover .view-project {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  opacity: 1;
}

.projects-section .project-item-inner:hover img {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.projects-section .project-item-inner p {
  font-size: 16px;
  margin: 10px 0 0;
  text-transform: capitalize;
}

.project-popup {
  background-color: var(--bg);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project-popup .pp-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: var(--bg-opacity);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
}

.project-popup .pp-loader div {
  height: 40px;
  width: 40px;
  border: 3px solid var(--title-txt);
  border-radius: 50%;
  border-right: 3px solid transparent;
  -webkit-animation: spin 2s backwards infinite;
          animation: spin 2s backwards infinite;
}

.project-popup .pp-loader .active {
  visibility: visible;
  opacity: 1;
}

.project-popup .pp-img {
  max-width: 100%;
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: var(--outer-shadow);
          box-shadow: var(--outer-shadow);
}

.project-popup .pp-main {
  min-height: 100vh;
  max-width: 1350px;
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-popup .pp-main-inner {
  padding: 70px 0 50px;
  position: relative;
}

.project-popup .pp-project-details-btn,
.project-popup .pp-close {
  position: absolute;
  top: 15px;
  cursor: pointer;
  -webkit-box-shadow: var(--outer-shadow);
          box-shadow: var(--outer-shadow);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-popup .pp-project-details-btn:hover,
.project-popup .pp-close:hover {
  -webkit-box-shadow: var(--outer-shadow-hover);
          box-shadow: var(--outer-shadow-hover);
}

.project-popup .pp-project-details-btn:active,
.project-popup .pp-close:active {
  -webkit-box-shadow: var(--inner-shadow-btn);
          box-shadow: var(--inner-shadow-btn);
}

.project-popup .pp-project-details-btn {
  left: 0;
  height: 40px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 30px;
  color: var(--link-txt);
}

.project-popup .pp-project-details-btn i {
  margin-left: 5px;
}

.project-popup .pp-close {
  height: 40px;
  width: 40px;
  right: 0;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 35px;
}

.project-popup .pp-close:hover {
  color: red;
}

.project-popup .pp-details {
  max-width: 1350px;
  width: 85%;
  margin: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project-popup .pp-details.active {
  opacity: 1;
}

.project-popup .pp-details-inner {
  padding: 30px 0;
}

.project-popup .pp-title {
  padding: 0 15px;
}

.project-popup .pp-title h2 {
  font-size: 24px;
  color: var(--content-txt);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400;
  margin-bottom: 5px;
}

.project-popup .pp-title p {
  font-size: 18px;
  color: var(--content-txt-muted);
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #c9c9c9;
}

.project-popup .pp-title p span {
  font-weight: 400;
}

.project-popup .pp-project-details .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-popup .pp-project-details h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--content-txt);
}

.project-popup .pp-project-details .description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  max-width: 65%;
  padding: 0 15px;
}

.project-popup .pp-project-details .description p {
  font-size: 16px;
  color: var(--content-txt-muted);
  line-height: 22px;
}

.project-popup .pp-project-details .info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  max-width: 35%;
  padding: 0 15px;
  margin-bottom: 10px;
}

.project-popup .pp-project-details .info a {
  text-decoration: none;
  font-size: 16px;
  color: var(--title-txt);
}

.project-popup .pp-project-details .info ul li {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--content-txt-muted);
  font-weight: 600;
}

.project-popup .pp-project-details .info ul li span {
  font-weight: 400;
}

.project-popup .pp-project-details .info ul li:last-child {
  margin-bottom: 0;
}

.project-popup .separator {
  height: 1px;
  width: 100%;
  display: block;
  background-color: #c9c9c9;
  margin-bottom: 20px;
}

.project-popup.open {
  visibility: visible;
  opacity: 1;
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes topBounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes topBounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@-webkit-keyframes leftBounce {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@keyframes leftBounce {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@-webkit-keyframes move {
  0%,
  100% {
    left: -40px;
    top: -10px;
  }
  50% {
    left: -35px;
    top: -5px;
  }
}

@keyframes move {
  0%,
  100% {
    left: -40px;
    top: -10px;
  }
  50% {
    left: -35px;
    top: -5px;
  }
}

@-webkit-keyframes float {
  0%,
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes float {
  0%,
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */