@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  --bg: #070e15;
  --title-txt: #eb8602;
  --content-txt: #ecf0f3;
  --txt-muted: #723818;
  --outer-shadow: -5px -5px 20px rgb(24, 23, 23), 5px 5px 20px #0000007f;
  --outer-shadow-hover: -2px -2px 5px rgb(24, 23, 23), 2px 2px 5px #0000007f;
}

body {
  background: var(--bg);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--bg)), to(var(--content-txt)));
  background: linear-gradient(to bottom, var(--bg), var(--content-txt));
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--bg)), to(#ffbf00));
  background: linear-gradient(to bottom, var(--bg), #ffbf00);
}

header {
  padding: 20px 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
}

header .logo {
  position: relative;
  font-size: 28px;
  color: var(--content-txt);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  opacity: 0;
  -webkit-animation: slideRight 0.5s ease-in-out forwards;
          animation: slideRight 0.5s ease-in-out forwards;
}

header .icon {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-animation: slideLeft 0.5s ease-in-out forwards;
          animation: slideLeft 0.5s ease-in-out forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  -webkit-box-shadow: var(--outer-shadow);
          box-shadow: var(--outer-shadow);
}

header .icon:hover,
header .icon.active {
  -webkit-box-shadow: var(--outer-shadow-hover);
          box-shadow: var(--outer-shadow-hover);
}

header .hamburger {
  z-index: 2;
  width: 30px;
  height: 2px;
  background: var(--content-txt);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .hamburger::before,
header .hamburger::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  background: var(--content-txt);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .hamburger::before {
  top: -8px;
}

header .hamburger::after {
  width: 25px;
  top: 8px;
}

header .icon.active .hamburger {
  background: transparent;
}

header .icon.active .hamburger::before {
  background: var(--title-txt);
  width: 35px;
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .icon.active .hamburger::after {
  background: var(--title-txt);
  width: 35px;
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .navigation {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 150px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navigation li {
  list-style: none;
}

header .navigation li a {
  color: var(--content-txt);
  text-decoration: none;
  font-size: 16px;
  margin: 0 20px;
  font-weight: 600;
  display: inline-block;
  opacity: 0;
}

header .navigation.active {
  opacity: 1;
  visibility: visible;
}

header .navigation.active li a {
  -webkit-animation: slideRight 0.5s ease-in-out forwards;
          animation: slideRight 0.5s ease-in-out forwards;
  -webkit-animation-delay: calc(0.1s * var(--i));
          animation-delay: calc(0.1s * var(--i));
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */